<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Kyle Schattler - Portfolio</title>
    <meta name="description" content="Kyle Schattlers' Portfolio">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="/css/main.css" />
  </head>

  <body>
    <!--[if lt IE 7]>
      <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->

    <div class="loading-bar"></div>

    <section class="side-nav">
      <div class="side-nav-content">
        <div class="avatar">
          <img class="avatar-img" src="https://lh3.googleusercontent.com/VAE0Tmy7eEcz4Wv9GmzEucdHAx3GDvghxmfSIbztJ9wz7rLOg0LN2Drr7lDehM9j4Q0grDa2xzFpNVLpF-qDBtbszPj2bVv87qt7e676qBT9IW5XiXRJEZSicfD04r03uu7tACR4mRYambLbr4dg-DSBi-i2I5fhk8heF7zNcKwiHDrWQu7vutkMH1z_50oBhTJsEsopo4kd7wcy6GtIGKopHpf7R37Q6-2cjA9Lo-E8UN47aLQXxy2jLRLsAiwcf3wDRuYSDw-bHXWTIvtAfkhFnd-8TZJVc9VJku5DbtkTZ2jRYxLyaV2vSSX7nGxEIZpLPHMteTH0qDmOw_gRys0DdEd6UCy6nBRuSu5UyRC0bQxfR-jp4wLVEpVY4quckELhrEVtfxM8yYp66TtNZeXTPV4U2n00vK23SnN8SwNASPa2-_Abky5GkSUkLjNLeTUWd7K9sziX_vhpT9XBD-OLEG20z2FqR7K22EBEh4Gb0lXFG6w-7QFN0_Q15SjQ14zHRkTyy3hoCcpM9nMFRD89Bd1tzUsGWnAYEQ4EVE9kUV6CQg7BQrFd47kj-Arwn7TiuICXU7aZAPgz0Lhx-R_IlQZjVmn48XwYj24nIF4g9Al8R7RNkIOc0LTPMX87JjCCzLU6JqSmaR4yVbb5JvfEFzC5D32sDL95NzogqJpYv7DHvXAQeDbrvL5UgQwemy63T67qriAsYps8-fUMqsY72A=w800-h800-no-tmp">
        </div>

        <ul class="nav">
          <li>
            <a id="about" class="nav-button{{#ifEqual page 'about'}} selected{{/ifEqual}}" href="about" data-bypass="true">
              <i class="fas fa-address-card"></i>
              <span>About</span>
            </a>
          </li>

          <li>
            <a id="projects" class="nav-button{{#ifEqual page 'projects'}} selected{{/ifEqual}}" href="projects" data-bypass="true">
              <i class="fas fa-code"></i>
              <span>Projects</span>
            </a>
          </li>

          <li>
            <a id="resume" class="nav-button{{#ifEqual page 'resume'}} selected{{/ifEqual}}" href="resume" data-bypass="true">
              <i class="fa fa-file-alt"></i>
              <span>Resume</span>
            </a>
          </li>
        </ul>

        <div class="footer">
          <div class="social-media">
            <a target="_blank" class="nav-button" href="https://github.com/kschat">
              <i class="fab fa-github"></i>
            </a>

            <a target="_blank" class="nav-button" href="http://linkedin.com/pub/kyle-schattler/5b/73/b53">
              <i class="fab fa-linkedin"></i>
            </a>
          </div>
        </div>
      </div>
    </section>

    <section role="main">
      <div class="background-panel">
        {{{body}}}
      </div>
    </section>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-34754817-1', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
