<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Kyle Schattler - Portfolio</title>
    <meta name="description" content="Kyle Schattlers' Portfolio">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="/css/main.css" />
  </head>

  <body>
    <!--[if lt IE 7]>
      <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->

    <div class="loading-bar"></div>

    <section class="side-nav">
      <div class="side-nav-content">
        <div class="avatar">
          <img class="avatar-img" src="https://lh3.googleusercontent.com/lZkHnVQIBmmmq8LMCZtkiJ3vEu3Gm3KBOzDosvWgOBAzvCJm2nrmDznCkA0T7SCHmKrJp2iLGdpkTCJqM6G96j9GFT1yChdHe2l7mWCsJOd6n0z40v5KqAw543B1e5wdbVeK0i4vjCaiYMMiya5sa5J9rudaZhRgRt5NDuayCr6Q-dY6nbjw9NnPySDCfjb6-JTAocB2Hxe8sYuuz7rjK8Q4I1VhcW_r2A8etEaGpC_GEJzf9pkldOTje3Bu3qjblBTO7cGTVJJZ_bSsQO4_S1rEkW8HzFsnXewacVoZhvtvmEA3y18Sr-ALOS64CL6XODFvtduoaQXNne6xxxq4yA1sefl9yh7GdRsWPowEUzTt81GlLG7bntuP6O94krlhjFwrI0N7hPcn8EICxkYSY5ZO4bVfUYIrIpuyFhv43eIYp2W9LxxJ8bct2cOmZkVKvfK6clC-e-0aYbkqLhCrhetBTHn0BMz069SbzSpKERknYZsmOrME77jrZdhdu121ACa8XXmThXeIgmEDcgbTGAn0KtyPrrrzzbvteLhiQ-xDpj9OGpdTPBdGUiGpumujBsRqDCKMUxUwT7aTWURQcMZ-roQSfdALrn3SC4nZBlzUz72I31i9yDJkN55hqTbWNjUh_T8aKhGx8JcUNi2etvZ6hm4g_dZMDtk3cMoZQzzPc-RU49rBAZjGNfzAvh5MXm4T-f5pjel6AR8st1ZFJejrjg=w800-h800-no?authuser=0">
        </div>

        <ul class="nav">
          <li>
            <a id="about" class="nav-button{{#ifEqual page 'about'}} selected{{/ifEqual}}" href="about" data-bypass="true">
              <i class="fas fa-address-card"></i>
              <span>About</span>
            </a>
          </li>

          <li>
            <a id="projects" class="nav-button{{#ifEqual page 'projects'}} selected{{/ifEqual}}" href="projects" data-bypass="true">
              <i class="fas fa-code"></i>
              <span>Projects</span>
            </a>
          </li>

          <li>
            <a id="resume" class="nav-button{{#ifEqual page 'resume'}} selected{{/ifEqual}}" href="resume" data-bypass="true">
              <i class="fa fa-file-alt"></i>
              <span>Resume</span>
            </a>
          </li>
        </ul>

        <div class="footer">
          <div class="social-media">
            <a target="_blank" class="nav-button" href="https://github.com/kschat">
              <i class="fab fa-github"></i>
            </a>

            <a target="_blank" class="nav-button" href="http://linkedin.com/pub/kyle-schattler/5b/73/b53">
              <i class="fab fa-linkedin"></i>
            </a>
          </div>
        </div>
      </div>
    </section>

    <section role="main">
      <div class="background-panel">
        {{{body}}}
      </div>
    </section>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-34754817-1', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
